<section *ngIf="emailSent == false" class="bg-black">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0 pt-20">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-white">
        <img class="w-10 h-10 mr-2 border-[2px] border-white rounded-lg" src="../../../assets/img/Logo-simples.svg" alt="logo">
        Kernel
      </a>
      <div class="w-full p-6 bg-[#0c0c0c] border border-zinc-900 rounded-lg shadow md:mt-0 sm:max-w-md sm:p-8">
          <h2 class="mb-1 text-xl font-bold leading-tight tracking-tight text-slate-100 md:text-2xl">
              Creating Account
          </h2>
          <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" action="#" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
              <div>
                  <label for="email" class="block mb-2 text-sm font-medium text-slate-100">Email</label>
                  <input type="email" name="email" formControlName="email" id="email" class="bg-black border border-zinc-800 outline-none text-slate-100 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="name@email.com" required="">
              </div>
              <div>
                  <label for="password" class="block mb-2 text-sm font-medium text-slate-100">Password</label>
                  <input type="password" min="6" name="password" formControlName="password" id="password" placeholder="••••••••" class="bg-black border border-zinc-800 outline-none text-slate-100 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" required="">
              </div>
              <div>
                  <label for="confirm-password" class="block mb-2 text-sm font-medium text-slate-100">Confirm Password</label>
                  <input type="password" min="6" name="confirmPassword" formControlName="confirmPassword" id="confirm-password" placeholder="••••••••" class="bg-black border border-zinc-800 outline-none text-slate-100 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" required="">
              </div>
              <div class="flex items-start">
                  <!-- <div class="flex items-center h-5">
                    <input id="newsletter" aria-describedby="newsletter" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-black focus:ring-3 focus:ring-indigo-300" required="">
                  </div> -->
                  <!-- <div class="ml-3 text-sm">
                    <label for="newsletter" class="font-light text-slate-100">I accept the <a class="font-medium text-blue-600 hover:underline" href="#">Terms and Conditions</a></label>
                  </div> -->
              </div>
              <button
                type="submit"
                class="w-full text-black bg-white hover:bg-zinc-200 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >{{ loading ? 'Loading...' : 'Create Account'}}</button>
          </form>
      </div>
  </div>
</section>



<section *ngIf="emailSent == true" class="bg-black h-full">
  <div class="py-32 px-4 mx-auto max-w-screen-xl lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
          <p class="mb-4 text-3xl tracking-tight font-bold md:text-4xl text-white">Check your email!</p>
          <p class="mb-4 text-lg font-light text-slate-100">To complete your account creation and activate-it confirm your email. </p>
          <a routerLink="/" class="inline-flex text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-blue-900 my-4">Back to Homepage</a>
      </div>   
  </div>
</section>