<footer class="p-4 bg-red-50 fixed bottom-0 w-screen ">
  <div class="mx-auto max-w-screen-xl text-center">

      <a href="#" class="flex justify-center items-center text-2xl font-semibold text-black">
          <img src="../../assets/img/Logo-full.svg" class="flex justify-center items-center mr-3 h-6 sm:h-9" alt="BeKim Logo" />
      </a>

      <p class="my-6 text-black">Simplesmente a melhor rede social de todos os universos.</p>

      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="/" class="hover:underline">BeKim™</a>. All Rights Reserved.</span>
  </div>
</footer>
