<!-- 
<header class="w-screen mb-10 fixed z-50">
  <nav class="bg-[#0000006b] backdrop-blur-lg px-6 py-2.5 border-b-[1px] border-zinc-800">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
          <a routerLink="/" class="flex items-center">
              <img src="../../assets/img/Logo-simples.svg" class="mr-3 h-6 sm:h-9" alt="BeKim Logo" />
              <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Bekim</span>
          </a>
          <div class="justify-between items-center w-full flex w-auto ">
              <ul class="flex flex-col mt-0 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                  <li *ngIf="logged == false"><a routerLink="login" class="block bg-transparent py-2 pr-4 pl-3 text-white border border-white hover:bg-white hover:text-black rounded-full lg:py-2 lg:px-5">Log In</a></li>
                  <li *ngIf="logged"><button (click)="logOut()" class="block bg-transparent py-2 pr-4 pl-3 text-white hover:text-red-600 rounded lg:py-2 lg:px-5">Log out</button></li>
              </ul>
          </div>
      </div>
  </nav>
</header> -->




<nav class="bg-[#000000b2] backdrop-blur-lg border-b-[1px] border-zinc-800 fixed w-[100vw] z-50">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a *ngIf="logged == false" routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="../../assets/img/Logo-simples.svg" class="h-8" alt="Kernel Logo" class="border-[2px] rounded-lg h-8" />
        <span class="self-center text-2xl font-medium whitespace-nowrap text-white">Kernel</span>
    </a>
    <a *ngIf="logged == true" routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="../../assets/img/Logo-simples.svg" class="h-8" alt="Kernel Logo" class="border-[2px] rounded-lg h-8" />
      <span class="self-center text-2xl font-medium whitespace-nowrap text-white">Kernel</span>
  </a>
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <a routerLink="login" *ngIf="logged == false" class="bg-transparent py-2 px-5 text-white border border-white hover:bg-white hover:text-black rounded-full">Log In</a>
        <button *ngIf="logged == true" (click)="toggleDropdown()" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-2 focus:ring-rose-500">
          <span class="sr-only">Open user menu</span>
          <img class="w-10 h-10 rounded-full" [src]="profile?.avatar_url" alt="user photo">
        </button>
        <div *ngIf="logged == true && isDropdownOpen" class="z-50 absolute top-[67px] xl:right-[100px] 2xl:right-[300px] right-0 text-base list-none divide-y rounded-lg shadow bg-black divide-zinc-800 border border-zinc-800 w-auto max-w-screen-sm" id="user-dropdown">
          <div class="px-4 py-3">
            <span class="block text-sm text-white">{{profile?.full_name}}</span>
            <span class="block text-sm truncate text-gray-400">@{{profile?.username}}</span>
          </div>
          <ul class="py-2">
            <li>
              <a [routerLink]="'/profile/'+profile.id" (click)="toggleDropdown()" class="block px-4 py-2 text-sm hover:bg-zinc-900 text-gray-200 hover:text-white">Profile</a>
            </li>
            <li>
              <a routerLink="#" (click)="toggleDropdown()" class="block px-4 py-2 text-sm hover:bg-zinc-900 text-gray-200 hover:text-white">Settings</a>
            </li>
            <li>
              <button (click)="logOut()" class="block px-4 py-2 text-left text-sm hover:bg-red-600 text-gray-200 hover:text-white w-full">Sign out</button>
            </li>
          </ul>
        </div>
    </div>
    </div>
  </nav>
  
