<section class="flex flex-col items-center m-10">
  <!-- notice - start -->
  <div class="flex items-center bg-gray-50 text-gray-500 border rounded gap-2 p-2">
    <span class="bg-blue-100 text-blue-800 text-xs font-semibold leading-none rounded-full px-2 py-1 mt-0.5">New</span>

    <span class="text-sm">Como entrar na BeKim?.</span>

    <a href="#" class="text-blue-500 hover:text-blue-600 active:text-blue-700 text-sm font-bold transition duration-100">More</a>
  </div>
  <!-- notice - end -->

  <div class="max-w-xl flex flex-col items-center text-center pt-8 lg:pt-32 pb-0 sm:pb-16 lg:pb-32">
    <p class="text-blue-500 md:text-lg xl:text-xl font-semibold mb-4 md:mb-6">Orgulhosamente apresentamos</p>

    <h1 class="text-black-800 text-4xl sm:text-5xl md:text-6xl font-bold mb-8 md:mb-12" id="hero-tittle">Uma forma revolucionaria de curtir memes</h1>

    <p class="text-gray-500 xl:text-lg leading-relaxed mb-8 md:mb-12">Imagine uma rede social privada sem limites e regras na qual você pode compartilhar o meme que você quiser.</p>

    <div class="w-full flex flex-col sm:flex-row sm:justify-center gap-2.5">
      <a href="/login" class="inline-block bg-black hover:bg-indigo-600 active:bg-blue-700 focus-visible:ring ring-blue-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-16 py-3">Login</a>

      <!-- <a href="#" class="inline-block bg-white hover:bg-gray-100 active:bg-gray-200 focus-visible:ring ring-blue-300 border text-gray-500 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Sobre</a> -->
    </div>
  </div>
</section>
