<div class="h-full flex items-center justify-center pt-36 px-4 sm:px-6 lg:px-8 bg-black">	
	<div class="sm:max-w-lg w-full p-10  rounded-xl z-10 border border-zinc-800">
		<div class="text-center">
			<h2 class="mt-5 text-3xl font-bold text-white">
				Create a post!
			</h2>
			<p class="mt-2 text-sm text-gray-400">Register your memory here.</p>
		</div>
        <form class="mt-8 space-y-3" [formGroup]="formPost" (ngSubmit)="onSubmit()">
                    <div class="grid grid-cols-1 space-y-2">
                        <label class="text-sm font-bold text-gray-500 tracking-wide">Title</label>
                            <input class="text-base p-2 border border-zinc-700 text-slate-300 bg-black rounded-lg focus:outline-none focus:border-blue-500" type="text" formControlName="description" placeholder="Description">
                            <input class="text-base p-2 border border-zinc-700 text-slate-300 bg-black rounded-lg focus:outline-none focus:border-blue-500" type="text" formControlName="feel" placeholder="How are you feeling?">
                    </div>
                    <div class="grid grid-cols-1 space-y-2">
                        <label class="text-sm font-bold text-gray-500 tracking-wide">Attach Image</label>
                        <div class="flex items-center justify-center w-full">
                            <label class="flex flex-col rounded-lg border border-dashed border-zinc-500 w-full h-60 p-10 group text-center">
                                <div class="h-full w-full text-center flex flex-col items-center justify-center">
                                    <div class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-5">
                                      <img class="has-mask h-32 object-center" src="https://bestanimations.com/media/computers/46611517funny-computer-animated-gif-29.gif" alt="best animations image">
                                    </div>
                                    <p class="pointer-none text-gray-500 "><span class="text-sm">Drag and drop</span> files here <br /> or <a href="" id="" class="text-blue-600 hover:font-medium hover:underline">select a file</a> from your computer</p>
                                </div>
                                <input type="file" class="hidden" formControlName="photo" (change)="onFileChange($event)">
                            </label>
                        </div>
                        <p *ngIf="formPost.get('photo')?.value" class="text-white">Selected Image: <b class="text-teal-400">{{formPost.get('photo')?.value}}</b></p>

                    </div>
                            <p class="text-sm text-gray-300">
                                <span>File type: doc,pdf,types of images</span>
                            </p>
                    <div>
                        <button type="submit" class="my-5 w-full flex justify-center bg-white text-slate-900 p-4  rounded-full tracking-wide
                                    font-semibold  focus:outline-none focus:shadow-outline hover:bg-zinc-200 shadow-lg cursor-pointer transition ease-in duration-300">
                                    {{ loading ? 'Loading...' : 'Submit'}}
                    </button>
                    </div>
        </form>
	</div>
</div>

<style>
	.has-mask {
		position: absolute;
		clip: rect(10px, 150px, 130px, 10px);
	}
</style>
