<!-- <app-sories *ngIf="!postCreationOpen"></app-sories> -->
<body class="bg-black">
  <div class="pt-10 bg-black"></div>
  <app-new-post *ngIf="postCreationOpen"></app-new-post>
  
  <main class='py-6 px-10 mx-auto bg-black '>
    <div *ngIf="!postCreationOpen" class='bg-black lg:grid lg:grid-cols-12 lg:gap-1'>
      <div class='col-span-8'>
        <app-feed></app-feed>
      </div>
      <div class='col-span-4 bg-black max-md:hidden'>
        <app-follow-suggestion></app-follow-suggestion>
      </div>
    </div>
  </main>

  <!-- POST BUTTONS -->
  <div *ngIf="!postCreationOpen" class="flex justify-center">
    <button (click)="openPostCreation()" class="inline-block bg-[#000000cc] backdrop:opacity-0 backdrop-blur-lg border-[1px] border-b-transparent border-zinc-700 hover:border-white rounded-t-3xl mx-3 cursor-pointer hover:bg-white hover:text-black active:bg-slate-700 focus-visible:ring ring-blue-300 text-white text-sm md:text-base font-semibold text-center outline-none transition duration-100 fixed bottom-0 w-4/12 py-3 z-50">New Post</button>
  </div>
  <div *ngIf="postCreationOpen" class="flex justify-center">
    <button *ngIf="postCreationOpen" (click)="openPostCreation()" class="inline-block bg-[#000000cc] backdrop:opacity-0 backdrop-blur-lg border-[1px] border-b-transparent border-red-600 rounded-t-3xl mx-3 cursor-pointer hover:bg-red-500 active:bg-slate-700 focus-visible:ring ring-blue-300 text-red-500 hover:border-red-700 hover:text-black text-sm md:text-base font-semibold text-center outline-none transition duration-100 fixed bottom-0 w-4/12 py-3 z-50">Back</button>
  </div>
</body>

<!-- <app-footer></app-footer> -->
