<div class="max-w-lg mx-auto pt-20">
  <h2 class="sm:text-lg sm:leading-snug font-semibold tracking-wide uppercase text-pink-600">introducing ...</h2>
  <p class="text-5xl lg:text-6xl leading-none font-extrabold text-slate-200 mb-8 mt-4">Kernel Stories.</p>

  <ul class="flex space-x-6 overflow-x-auto">
      <li class="flex flex-col items-center space-y-1 ">
          <div class="relative bg-gradient-to-tr from-slate-400 to-slate-600 p-[2px] rounded-full">
              <a href="#" class="block p-[1px] rounded-full transform transition">
                  <img class="w-20 h-20 rounded-full" src="https://i.pinimg.com/736x/5a/a6/6e/5aa66ecba05d2011ce88750e578ba962.jpg" alt="stories_preview">
              </a>
                <label for="fileInput" class="absolute bg-black text-white text-2xl font-medium w-8 h-8 rounded-full bottom-[2px] right-1 flex justify-center items-center font-mono hover:bg-white hover:text-black border-[1px] border-white focus:outline-none cursor-pointer">
                  <input type="file" id="fileInput" class="absolute opacity-0 h-0 w-0 cursor-pointer" (change)="onFileChange($event)" />
                  <div class="transform -translate-y-px mt-1">+</div>
              </label>
                <!-- Your existing content -->
          </div>

          <a href="#">storie_one</a>
      </li>

      <li *ngFor="let storie of stories" class="flex flex-col items-center space-y-1 ">
        <div class="relative bg-gradient-to-tr from-teal-400 to-pink-600 p-[2px] rounded-full">
          <a routerLink="/stories/{{storie.id}}" class="block p-[1px] rounded-full transform transition">
            <img class="w-20 h-20 rounded-full" [src]="storie.photo" alt="stories_preview">
          </a>
        </div>
  
        <a href="#">storie_three</a>
      </li>

  </ul>
</div>
