<section class="h-full pt-[100px] bg-black">    
    <app-post
        [post]="post"
    ></app-post>

    <section class="bg-black py-8 lg:py-16">
        <div class="max-w-2xl mx-auto px-4">
            <div class="flex justify-between items-center mb-6">
                <h2 class="text-lg lg:text-2xl font-bold text-gray-50">Comments</h2>
            </div>
            <form class="mb-6" [formGroup]="formComment" (ngSubmit)="submitComment()">
                <div class="py-2 px-4 mb-4 bg-black rounded-lg rounded-t-lg border border-zinc-800">
                    <label for="comment" class="sr-only">Your comment</label>
                    <textarea id="comment" formControlName="text" rows="3"
                        class="px-0 w-full text-sm text-white bg-black border-0 focus:ring-0 focus:outline-none"
                        placeholder="Write a comment..." required></textarea>
                </div>
                <button
                    type="submit"
                    class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-black bg-white hover:bg-zinc-200 rounded-lg focus:ring-4 focus:ring-indigo-200">
                    {{ loading ? 'Loading...' : 'Post Comment'}}
                </button>
            </form>
            <article *ngFor="let comment of comments" class="p-6 mb-6 text-base bg-black rounded-lg">
                <footer class="flex justify-between items-center mb-2">
                    <div class="flex items-center">
                        <p class="inline-flex items-center mr-3 text-sm text-gray-50"><img
                                class="mr-2 w-6 h-6 rounded-full"
                                [src]="comment?.avatar_url"
                                alt="Michael Gough">{{comment?.username}}</p>
                        <p class="text-sm text-gray-600">{{comment?.created_at}}</p>
                    </div>
                </footer>
                <p class="text-gray-400">{{comment.text}}</p>
            </article>
        </div>
    </section>
</section>
