<section class="h-full pb-20 bg-gray-150 p-2">
    <div *ngFor="let post of posts.reverse()" class="grid pt-20 grid-cols-1 max-w-md m-auto">
        <div class="items-center bg-gray-50 rounded shadow flex flex-col  light:border-gray-700 p-10">
          <a>
              <!-- <img class="w-full rounded-lg" width="420" height="315" src="{{post.photo}}"> -->
              <!-- <iframe width="500px" height="100%" [src]="secureImage(post.photo)"></iframe> -->
              <img class="w-full w-96 h-64 rounded-lg" src="{{post.photo}}" alt="Bonnie Avatar">
          </a>
            <div class="p-5 max-w-full flex flex-col justify-center items-center">
                <!-- <h3 class="text-xl font-bold tracking-tight text-gray-900 light:text-white">
                    <a href="#">{{post.name}}</a>
                </h3> -->
                <p class="mt-3 mb-4 font-light text-gray-500 light:text-gray-400">{{post.description}}</p>
                <p class="mb-5">Likes: {{post.like}}</p>
                <button (click)="likeAction(post.like, post.id)" class="bg-teal-500 hover:bg-teal-600 text-white font-semibold py-2 px-4 rounded w-32">
                    Curti
                </button>
                <!-- <button class=" bg-black hover:bg-indigo-600 active:bg-blue-700 focus-visible:ring ring-blue-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 w-full max-w-full py-3">Like</button> -->
            </div>
        </div>
    </div>
</section>
