<section class="bg-black">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
      <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-white">
          <img class="w-10 h-10 mr-2 border-[2px] border-white rounded-lg" src="../../../assets/img/Logo-simples.svg" alt="logo">
          Kernel
      </a>
      <div class="w-full bg-[#0c0c0c] border border-zinc-900 rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-slate-100 md:text-2xl">
                  Access Account
              </h1>
              <form class="space-y-4 md:space-y-6" action="#" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-slate-100">Your email</label>
                      <input type="email" formControlName="email" id="email" class="bg-black border border-zinc-800 outline-none text-slate-100 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="name@email.com" required="">
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-slate-100">Password</label>
                      <input type="password" formControlName="password" name="password" id="password" placeholder="••••••••" class="bg-black border border-zinc-800 outline-none text-slate-100 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" required="">
                  </div>
                  <div class="flex items-center justify-between">
                      <div class="flex items-start">
                          <div class="flex items-center h-5">
                            <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" required="">
                          </div>
                          <div class="ml-3 text-sm">
                            <label for="remember" class="text-gray-500">Remember me</label>
                          </div>
                      </div>
                      <!-- <a href="#" class="text-sm font-medium text-black hover:underline">Forgot password?</a> -->
                  </div>
                  <button
                    type="submit"
                    class="w-full text-black bg-white hover:bg-zinc-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                  >{{ loading ? 'Loading...' : 'Log In'}}</button>
                  <!-- <p class="text-sm font-light text-gray-500">
                      Don’t have an account yet? <a href="#" class="font-medium text-black hover:underline">Sign up</a>
                  </p> -->
              </form>
          </div>
      </div>
  </div>
</section>
